* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1f1a25;
}

[hidden]{
  display: none!important;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.gap-02 {
  gap: 0.2em;
}

.width-100 {
  width: 100%;
}

.padding-0-1 {
  padding: 0 1em;
}

.board-wrap {
  position: relative;
  display: block;
  width: 100%;
}

.board-wrap:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.board tr {
  height: 10%;
}

.board td {
  position: relative;
  width: 10%;
  border: 1px solid #fff;
  text-align: center;
  font-size: 0;
}

.board td:nth-child(n + 2) {
  border-left-color: transparent;
}

.board td:nth-child(-n + 9) {
  border-right-color: transparent;
}

.board tr:nth-child(even) td:last-child {
  border-top-color: transparent;
}

.board tr:nth-child(odd) td:last-child {
  border-bottom-color: transparent;
}

.board tr:nth-child(-2n + 8) td:first-child {
  border-bottom-color: transparent;
}

.board tr:nth-child(2n + 3) td:first-child {
  border-top-color: transparent;
}

.container {
  position: absolute;
  transform: translate(-15%, 0);
  top: 5%;
  left: 15%;
  width: 90vh;
  height: 90vh;
  z-index: 1;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  padding: 1em 2em;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  letter-spacing: 0.05rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}

.info-box {
  width: 100%;
}

.form-input {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: rgb(240, 233, 233);
  border: none;
  display: block;
  transition: all 0.5s;
}

#players-box {
  color: azure;
  font-size: 1.6rem;
  font-family: "Roboto Slab", sans-serif;
}

#current-player {
  color: azure;
  font-size: 1.4rem;
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
}

.table-pin {
  width: 30px;
}

.players-table td {
  margin-right: 20px;
}

.instruction {
  color: azure;
  font-size: 1.4rem;
  font-family: "Roboto Slab", sans-serif;
}

.field-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #fff;
}

.pin use {
  transform: scale(.1);
}

.pin-wrap {
  width: 46px;
}

.pin-wrap .pin {
  display: block;
}

.dice-wrap img {
  width: 100%;
}

.players-name {
  flex-basis: 100%;
}

.dice {
  width: 40px;
}

.bright::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #58afd1;
  opacity: .5;
}

@media (min-width: 801px) {
  .nowrap-801 {
    flex-wrap: nowrap;
  }

  .width-50-801 {
    width: 50%;
  }

  .padding-top-1-801 {
    padding-top: 1em;
  }

  .ai-end-801 {
    align-items: end;
  }
}
